
.footer__copyright-text {
  margin: 92px auto 0 auto;
  text-align: center;

}

@media screen and (max-width: 1024px) {
  .footer__copyright-text {
    margin-top: 0;
  }

}

@media screen and (max-width: 544px) {
  .footer__copyright-text {
    margin-top: 0;
  }
}