.gallery {
  margin-top: 118px;
  margin-bottom: 92px;
}

.gallery__image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  margin: 0 auto;
  max-width: 1184px;
}

.image {
  width: 100%;
  height: auto;

}

@media screen and (max-width: 1024px) {
  .gallery {
    margin-bottom: 0;
  }
  .gallery__image {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .gallery__image {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
