.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 984px;
  justify-content: center;
  text-align: center;
}

.header__logo-container {

}

.header__logo {

}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    margin: 90px auto 32px auto;


}

.header__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    max-width: 720px;
    margin: 64px auto 40px auto;
}

.header__image {

}

@media screen and (max-width: 1024px) {

  .header {
    width: 100%;
  }

  .header__title {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
    font-size: 75px;
    line-height: 4.8rem;
  }

  .header__subtitle {
    width: 100%;
    font-size: 30px;
  }
}

@media screen and (max-width: 544px) {

  .header {
    width: 100%;
  }

  .header__title {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
    font-size: 40px;
    line-height: 2.5rem;
  }

  .header__subtitle {
    width: 100%;
    font-size: 16px;
    line-height: 1.5rem;
  }

}