.place {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 984px;
  margin: 92px auto;
  row-gap: 80px;
}

.place__gales,
.place__eua,
.place__burundi,
.place__brasil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title  list"
    "image  desc"
    "button emp";
  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  margin: 0;
}

.place__image {
  grid-area: image;
  width: 100%;
  height: 100%;
  min-height: 486px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.place__list {
  grid-area: list;
  list-style: none;
  margin: auto auto 0 0;
  padding: 0;
}


.place__span {
  color: rgba(170, 170, 170, 1);
}



.place__description {
  grid-area: desc;
  margin: 0;
  font-size: 18px;
  white-space: pre-line;
  line-height: 163%;
}

.place__button {
  grid-area: button;
  display: block;
  border-radius: 4px;
  background-image: linear-gradient(to right, rgba(2, 120, 254, 1), rgba(0, 58, 123, 1));
  padding: 13px 20px;
  color:white;
  max-width: 356px;
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  text-decoration: none;

}

.place__button:hover{
  opacity: 0.25;
}

.place__image:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
 .place__gales,
.place__eua,
.place__burundi,
.place__brasil {
  column-gap: 28px;
}

.place__button {
  width: 85%;
}

.place__title {
    font-size: 42px;
  }


}

@media screen and (max-width: 764px) {

  .place__title {
    font-size: 32px;
  }

  .place__description {
    font-size: 16px;
  }

  .place__gales,
  .place__eua,
  .place__burundi,
  .place__brasil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "list"
      "image"
      "desc"
      "button";
      column-gap: 0px;
      row-gap: 30px;
  }


  .place__button {
    margin: 0 auto;
    width: 85%;
  }

}

@media screen and (max-width: 544px) {

  .place__title {
    font-size: 32px;
  }

  .place__description {
    font-size: 16px;
  }

  .place__gales,
  .place__eua,
  .place__burundi,
  .place__brasil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "list"
      "image"
      "desc"
      "button";
      column-gap: 0px;
      row-gap: 30px;
  }


  .place__button {
    margin: 0 auto;
    width: 85%;
  }

}


